In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/content/drive/MyDrive/archive (3)/Pokemon.csv')

In [3]:
data.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [13]:
data['High_Low_Speed'] = data['Attack']
data['High_Low_HP'] = data['Attack']

In [14]:
data

       #                   Name  ... High_Low_Speed High_Low_HP
0      1              Bulbasaur  ...             49          49
1      2                Ivysaur  ...             62          62
2      3               Venusaur  ...             82          82
3      3  VenusaurMega Venusaur  ...            100         100
4      4             Charmander  ...             52          52
..   ...                    ...  ...            ...         ...
795  719                Diancie  ...            100         100
796  719    DiancieMega Diancie  ...            160         160
797  720    HoopaHoopa Confined  ...            110         110
798  720     HoopaHoopa Unbound  ...            160         160
799  721              Volcanion  ...            110         110

[800 rows x 15 columns]